@use "../abstracts/" as *;

.full-height-column{
  &[data-position="right"] {
    margin-bottom: calc($section-padding-block * -1);
  }
  &[data-position="left"] {
    margin-top: calc($section-padding-block * -1);
  }

  @include mq(medium) {
    height: calc(
      (100% + $section-padding-block * 2) - var(--space-top, 0px) -
        var(--space-bottom, 0px)
    );

    margin-top: calc($section-padding-block * -1);
    transform: translateY(
      calc((var(--space-top, 0px) * 0.5) + (var(--space-bottom, 0px) * -0.5))
    );
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}